body{
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*navbar*/

h1{
  text-align: center;
}


